@model UrlShortenerModel

<form asp-action="ShortUrl" asp-controller="UrlShortener" method="post">
    <div class="form-group">
        <label for="LongUrl">Long URL</label>
        <input asp-for="LongUrl" class="form-control" id="LongUrl" />
        <span asp-validation-for="LongUrl" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />

@if (Model?.ShortUrl != null)
{
    <div>
        Short URL:
    </div>

    <div id="contentToCopy">
        <pre>
        <code>@Model?.ShortUrl</code>
         </pre>
    </div>

    <button class="btn btn-secondary" onclick="copyToClipboard()">Copy to Clipboard</button>

}


<script>
    function copyToClipboard() {
        var range = document.createRange();
        range.selectNode(document.getElementById("contentToCopy"));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
    }
</script>